.field--name-field-targets .paragraph-type-top,
.field--name-field-witnesses .paragraph-type-top,
.field--name-field-offenders .paragraph-type-top {
  display: none;
}

@media (min-width: 768px) {
  .page .person-widget.paragraphs-subform {
    margin-top: 0;
  }
	
  .person-widget .form-wrapper {
    margin-top: 0;
  }

  .person-widget .form-item {
    display: table-row;
  }

  .person-widget .form-item label {
    font-weight: normal;
    width: 80px;
    padding-right: 2rem;
  }

  .person-widget .form-item label,
  .person-widget .form-item input {
    display: table-cell;
  }
}

.person-widget .option {
  padding: 0 0 0 2rem;
}

.person-widget > .form-wrapper {
  padding: 0;
  margin-bottom: 0.3em;
}

.person-widget > .form-wrapper:last-of-type {
  margin-bottom: 0;
}